h3 {
  margin-top: 0;
}

h4 {
  margin-top: 0;
}

.total {
  font-size: 2em;
}

.mat-icon,
.description {
  color: green;
  font-size: 1.5em;
}

.mat-icon {
  position: relative;
  padding: 0 5px;
  top: 5px;
}
